.carousel {
  margin-bottom: 65px;
  overflow: hidden;
  white-space: nowrap;
}

.carousel .carousel_list {
  display: inline-block;
  animation: 35s slide infinite linear;
}

.carousel:hover .carousel_list {
  animation-play-state: paused;
}

.carousel .carousel_list li {
  display: inline-block;
  transition: var(--main-h-transition);
  cursor: pointer;
  border-radius: 30px;
}

.carousel .carousel_list li a {
  display: block;
  width: 300px;
}

.carousel .carousel_list li:hover {
  opacity: var(--main-h-opacity);
}

.carousel .carousel_list li a {
  color: var(--inverted_main_tx_color);
}

.carousel .carousel_list li a .title {
  font: var(--f-l);
  font-weight: var(--f_weight_semibold);
  margin-bottom: 10px;
}

.carousel .carousel_list li a .descr {
  font: var(--f-s);
  font-weight: var(--f_weight_light);
  margin-bottom: 10px;
}

.carousel .carousel_list li a .price {
  font: var(--f-m);
  font-weight: var(--f_weight_bold);
  margin-bottom: 10px;
}

.carousel .carousel_list li a .button {
  width: 50%;
}

.carousel .carousel_list li a img {
  margin-bottom: 15px;
}

@media (max-width: 576px) {
  .carousel:hover .carousel_list {
    animation-play-state: running;
  }
}
