header {
  display: flex;
  justify-content: space-between;
  padding: 25px 40px 40px 0px;
}

.header_menu {
  display: flex;
}

.header_menu .burger_sn {
  display: none;
}

.header_menu li {
  margin-right: 40px;
}

.header_menu li a {
  font: var(--f-s);
  font-weight: var(--f_weight_semicolon);
  color: var(--main_tx_color);
  transition: var(--main-h-transition);
}

.header_menu .logo a {
  font: var(--f-m);
  font-weight: var(--f_weight_bold);
  color: var(--secondary_tx_color);
}

.header_menu .logo a img {
  width: 30px;
  height: 30px;
  margin-top: -5px;
}

.header_menu li a:hover {
  opacity: var(--main-h-opacity);
}

@media (max-width: 768px) {
  .burger li {
    width: 55px;
    height: 4px;
    background-color: var(--main_bg_color);
    margin-bottom: 5px;
  }

  header .hidden {
    display: none;
  }

  header .opened {
    flex-direction: column;
    padding: 50px 25px 0px 25px;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    animation: opening 0.5s;
  }

  .header_menu li {
    margin-right: 20px;
  }

  header .opened .burger_sn {
    display: flex;
  }

  header .burger_sn li {
    width: 30px;
    height: 30px;
  }

  header .closing {
    animation: closing 0.5s forwards;
  }

  header .opened .logo a {
    font: var(--f-xl);
  }

  header .opened li {
    margin-bottom: 85px;
  }

  .header_menu li a {
    font: var(--f-m);
  }
}
