header {
  display: flex;
  justify-content: space-between;
  padding: 25px 40px 40px 0px;
}

.header_menu {
  display: flex;
}

.header_menu li {
  margin-right: 40px;
}

.header_menu li a {
  font: var(--f-s);
  font-weight: var(--f_weight_semicolon);
  color: var(--main_tx_color);
  transition: var(--main-h-transition);
}

.header_menu .logo a {
}

.header_menu .logo a img {
  width: 30px;
  height: 30px;
  margin-top: -5px;
}
.header_menu li a:hover {
  opacity: var(--main-h-opacity);
}
