nav {
  margin-bottom: 50px;
}

nav .nav_list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 50px;
}

nav .nav_list li {
  transition: var(--main-h-transition);
}

nav .nav_list li:hover {
  opacity: var(--main-h-opacity);
}

nav .nav_list li a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  font: var(--f-xl);
  font-weight: var(--f_weight_medium);
  height: 280px;
  background-color: var(--inverted_main_bg_color);
  border-radius: 30px;

  cursor: pointer;
}

nav .nav_list li a img {
  margin-bottom: 15px;
}
