html {
  scrollbar-width: thin;
}

body {
  background: white;
}

.global_wrapper {
  background: linear-gradient(112.1deg, rgb(0, 0, 0) 11.4%, rgb(63, 76, 119) 70.2%);
}

.global_container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0px 25px;
}
