:root {
  /*  font-family */
  --f-family-main: "Montserrat", sans-serif;

  /* size */
  --f_size_3xl: 55px;
  --f_size_2xl: 35px;
  --f_size_xl: 30px;
  --f_size_l: 25px;
  --f_size_m: 20px;
  --f_size_s: 15px;

  /* line-height- */
  --l_height_3xl: 55px;
  --l_height_2xl: 35px;
  --l_height_xl: 30px;
  --l_height_l: 25px;
  --l_height_m: 20px;
  --l_height_s: 15px;

  /* font-weight */
  --f_weight_light: 300;
  --f_weight_normal: 400;
  --f_weight_medium: 500;
  --f_weight_semibold: 600;

  /* font */
  --f-3xl: var(--f_size_3xl) / var(--l_height_3xl) var(--f-family-main);
  --f-2xl: var(--f_size_2xl) / var(--l_height_2xl) var(--f-family-main);
  --f-xl: var(--f_size_xl) / var(--l_height_xl) var(--f-family-main);
  --f-m: var(--f_size_m) / var(--l_height_m) var(--f-family-main);
  --f-l: var(--f_size_l) / var(--l_height_l) var(--f-family-main);
  --f-m: var(--f_size_m) / var(--l_height_m) var(--f-family-main);
  --f-s: var(--f_size_s) / var(--l_height_s) var(--f-family-main);

  /* text-colors */
  --main_tx_color: rgba(0, 0, 0, 1);
  --inverted_main_tx_color: rgb(255, 255, 255);
  --secondary_tx_color: rgba(255, 202, 0, 1);

  /* background-colors */
  --main_bg_color: rgba(0, 0, 0, 1);
  --inverted_main_bg_color: rgb(255, 255, 255);
  --secondary_bg_color: rgba(255, 202, 0, 1);

  /* hovers */
  --main-h-opacity: 0.6;
  --main-h-transition: 0.5s;
}
